doctype html
html(lang='zh-CN')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(href='http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' rel="stylesheet" type="text/css")
        link(href='/stylesheets/jqpagination.css' rel="stylesheet" type="text/css")
        title
    body
        p 搜索"#{vName}"的结果如下
        #dataTable Loading......
        .pagination
            a.first(href='#', data-action='first') «
            a.previous(href='#', data-action='previous') ‹
            input(type='text', readonly='readonly', data-max-page='40')
            a.next(href='#', data-action='next') ›
            a.last(href='#', data-action='last') »
        script(src='http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js')
        script(type='text/javascript', src='http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js')
        script(type='text/javascript', src='/javascripts/jquery.jqpagination.min.js')
        script(type='text/javascript', src='/javascripts/page.js')
        script.
            $(function(){showData('#{vName}',1,20)});
